nav > div {
    display: flex;
    align-items: center;
    margin: 20px 150px;
}
.navigation-ber {
    display: flex;
    justify-content: space-between;

}
.special {
    color: rgb(230, 99, 143);
}
.nav-title {
    text-align: center;
font-family: Work Sans;
font-size: 35px;
font-weight: 700;
}
.frist-logo {
    height: 30px;
}
.gamer-logo {
    display: flex;
    gap: 10px;
}
.about-us {
    display: flex;
    list-style: none;
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
gap: 20px;
}
.developer {
    gap: 20px;
}
.follow {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #dad3d3;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;

}
.youtube {
    height: 25px;
    width: 25px;
}
.tiktok {
    height: 20px;
    width: 25px;
}
.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top: 10px;
    background-color: #FFF;
}
.second-img {
    height: 530px;
}
.click {
    
    
}
.second-title {
    color: #0B0223;
font-family: Work Sans;
font-size: 23px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.animal {
    font-size: 45px;
    align-items: center;
    color: #a52170;
}
.sign-in {
    border-radius: 48px;
    background-color: #a52170;
    color: white;
    height: 40px;
    width: 80px;
}
.go-rogue {
    border-radius: 48px;
    background-color: #4EC5F7;
    color: white;
    height: 40px;
    width: 100px;
}
.my-games {
    text-align: center;
    margin-top: 110px;
}

.third-imgs {
    display: flex;
    margin: 40px 155px;
    align-items: center;
    gap: 20px;
}
.online-games {
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;

}
.funny-video {
    color: #a52170;
}

.download {
    height: 320px;
    width: 280px;
}


