nav > div {
    display: flex;
    align-items: center;
    margin: 20px 150px;
}
.navigation-ber {
    display: flex;
    justify-content: space-between;

}
.special {
    color: rgb(230, 99, 143);
}
.nav-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;
}
.frist-logo {
    height: 30px;
}
.gamer-logo {
    display: flex;
    gap: 10px;
}
.about-us {
    display: flex;
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    gap: 20px;
}
.developer {
    gap: 20px;
}

.follow {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #dad3d3;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;

}
.youtube {
    height: 25px;
    width: 25px;
}
.tiktok {
    height: 20px;
    width: 25px;
}
.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    padding-top: 10px;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 700px;
}
.second-img {
    height: 530px;
}
    
.second-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
}
.animal {
    font-size: 60px;
    align-items: center;
    color: #a52170;
    line-height: 25px;
}
.sign-in {
    border-radius: 48px;
    background-color: #a52170;
    color: white;
    height: 40px;
    width: 80px;
}
.go-rogue {
    border-radius: 48px;
    background-color: #4EC5F7;
    color: white;
    height: 40px;
    width: 100px;
}
.my-games {
    text-align: center;
    margin-top: 110px;
}

.third-imgs {
    display: flex;
    margin: 40px 155px;
    align-items: center;
    gap: 20px;
}
.online-games {
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 30px;

}
.funny-video {
    color: #a52170;
}
.download {
    height: 320px;
    width: 280px;
}

.second-section {
    display: flex;
    margin-top: 80px;
}

.phone {
    padding: 100px 200px;
}

.big-image {
    width: 480px;
    height: 480px;
    margin-left: 155px;
}

.small-image {
    height: 220px;
    width: 190px;
    position: relative;
    bottom: 145px;
    left: 515px;
}
.play {
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 20px; 
    color: #F948B2;
}
.anywhere {
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700; 
    line-height: 20px;
}
.anytime {
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 20px;
}

.online {
    color: #6d39e6;
}

.last-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 155px;
    padding-right: 0px;
    gap: 20px;
    background-color: #f7e6e6;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 14px;
}

.bonus {
    display: flex;
    gap: 10px;
    line-height: 20px;
    align-items: center;
    height: 50px;
}

.last-images {
    height: 35px;
}

.no-section {
    background-color: #0B0223;
    padding-bottom: 30px;
}

.last-logo {
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    padding-top: 50px;
    gap: 20px;
}

.nav-title-no{
    text-align: center;
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;
}

.last-content {
     display: flex;
     justify-content: center;
     gap: 40px;
     padding: 30px 0px;
     color: #FFF;
}
.youtube {
    height: 30px;
    width: 30px;
}

.last-logos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.terms {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 25px;
    color: #FFF;
}

.finish {
    display: flex;
    justify-content: center;
    line-height: 10px;
    color: #dad3d3;
}
.color {
    color: #FFF;
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    .third-imgs {
        flex-direction: column;
        grid-template-columns: repeat (2, 1fr);
    }
    .second-section {
        flex-direction: column;
    }
}


@media screen and (max-width: 576px) {
    .navigation-ber, nav > div,
    .second {
        flex-direction: column;
    }
    .second-img {
        width: 100%;
    }
    .click {
        width: 100%;
    }
    .my-games {
        width: 100%;
    }
    .third-imgs {
        flex-direction: column;
    }
    .second-section {
        flex-direction: column;
        padding-top: 0px;
    }
    
    .big-image {
        margin-left: 0px;
        width: 85%;
    }
    .phone {
        padding: 0px;
    }
    .last-section {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0px;
        width: 100%;
    }
    .second {
        padding: 20px;
    }
    .small-image {
        width: 130px;
        position: relative;
        bottom: 145px;
        left: 165px;
    }
    .last-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px 0px;
        color: #FFF;
    }
}